<app-adminheader *ngIf="!isLoggedIn"></app-adminheader>
 <app-adminloggedinheader *ngIf="isLoggedIn == true"></app-adminloggedinheader>
<div class="bg">
    <div class="container">
        
        <form class="dim" #AddFlightForm="ngForm" (ngSubmit)="submitForm(AddFlightForm)" novalidate>
            <h2 class="h2">Asignar BagCart</h2><br>
            <div class = "check" *ngIf="!flightcheck">
                <span class="msg">&#10687; Flight Number Already Exist </span>
            </div>                
                    

                <br>
            <div>
                <div>
                    <button class="bt add" type="submit" [disabled]="!AddFlightForm.valid" [ngStyle]="{'cursor': (!AddFlightForm.valid? 'not-allowed':'pointer')}" >Add Flight</button>
                </div>
                <div>
                    <button class="bt" onclick="window.location='http://localhost:4200/ViewAllFlights';">Cancel</button>
                </div>
            </div>  
        </form>
    </div>
</div>
<app-adminfooter></app-adminfooter>